* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Chosen-army .favorites{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: greenyellow;
  height: 400px;
}

.bot-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 20px; 
  height: 600px;
  grid-auto-rows: minmax(250px, auto); 
}

.bot-card {
  background-color: lightgray;
  padding: 10px;
  height: 250px;
  width: 200px;
  text-align: center;
  border: 1px solid #ccc; 
  border-radius: 8px; 
}
.imageDiv {
  width: 120px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

 img {
  max-width: 120px;
  max-height: 170px;
  object-fit: contain;
  border-radius: 8px;
}
